@media all and (min-width: 480px) {
    .Login {
      padding: 60px 0;
    }
    .Login form, .Login h3 {
      margin: 0 auto;
      max-width: 320px;
    }
    .Login h3 {
        padding: 0 0 16px 0;
    }
    .Login .error {
        color: red;
        font-size: 0.8rem;
        margin: 0 10px 0 0;
    }
  }